<h1 id="tableLabel">Album Details</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!albums"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="albums" className="table table-dark table-hover" aria-labelledby="tabelLabel">
 
  <thead className="header">
    <tr>
      <th>User Id</th>
      <th>Album Title</th>
      <th>Photo Title</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let album of albums">
       
      <!--<td>{{album.userId}}</td>
      <td>{{album.albumTitle}}</td>
      <td>{{album.photoTitle}}</td>
      <td>{{album.photoUrl}}</td>-->

      <td>{{album.userId}}</td>
      <td>{{album.id}}</td>
      <td>{{album.title}}</td>
    </tr>
  </tbody>
</table>
